<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #cfcfcf !important;
        }

        td {
            background-color: rgb(233, 233, 233) !important;
        }

        input[type="text"],
        input[type="number"] {
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            display: inline-block;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 15px;
        }

        button[type="submit"]:hover {
            background-color: #3d7e41;
        }
    </style>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <%-include('partials/nav.ejs')%>
    <br>
    <section>
        <form action="/alumnos" method="post">
            <input type="number" id="matricula" name="matricula" placeholder="Matricula..." required>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre..." required>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio..." required>
            <input type="text" id="sexo" name="sexo" placeholder="Sexo" required>
            <input type="text" id="especialidad" name="especialidad" placeholder="Especialidad..." required>
            <div style="float: right; margin-right: 5.5rem;margin-top: 1rem;">
                <button type="submit">Enviar Informacion</button>
            </div>
        </form>
        <div class="container">
            <table class="table table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Especialidad</th>
                </tr>   
                    <%
                    for(var i=0;i<reg.length;++i){ %>
                        <tr>
                            <td><%=reg[i].idalumnos %></td>
                            <td><%=reg[i].matricula %></td>
                            <td><%=reg[i].nombre %></td>
                            <td><%=reg[i].domicilio %></td>
                            <td><%=reg[i].sexo %></td>
                            <td><%=reg[i].especialidad %></td>
                        </tr>
                        <%
                    }
                        %>
            </table>
        </div>
    </section>
    <%-include('partials/footer.ejs')%>
</body>
</html>