<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }

        .formulario-container {
            margin-bottom: 20px;
            float: left;
            width: calc(50% - 5px);
            margin-right: 10px;

        }

        .formulario {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        form {
            display: grid;
            gap: 10px;
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .form-group label {
            flex: 1;
        }

        .form-group input,
        .form-group select {
            flex: 1;
            margin-left: 10px;
        }

        .botones-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }

        .botones-container button {
            margin-left: 10px;
            padding: 10px 20px;
            background-color: #88d5ee;
            color: #000000;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #87CEEB !important;
            color: orange !important;
        }

        .tablas-container {
            display: flex;
            flex-direction: column;
        }

        .resumen {
            flex: 1;
            border-radius: 5px;
            background-color: transparent;
            padding: 20px;
            margin-bottom: 20px;
            overflow: auto;
        }

        .total {
            flex: 1;
            border-radius: 5px;
            background-color: transparent;
            padding: 20px;
            margin-bottom: 20px;
            overflow: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            background-color: #FFFF99;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #FFCC66;
        }

        #header {
            text-align: center;
        }
    </style>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section class="container">
        <h1 id="header">Agencias de Autos</h1><hr>
        <div class="formulario-container">
            <div class="formulario">
                <form id="form-content" action="/cotizacion" method="post">
                    <h3></h3>
                    <label for=""><Strong>Núm. Folio</Strong></label>
                    <input type="number" name="folio" id="folio" placeholder="Folio" required value="<%=folio%>">
                    <label for=""><strong>Descripción del Vehículo</strong></label>
                    <input type="text" name="desc" id="desc" placeholder="Nombre del Automovil" required value="<%=desc%>">
                    <label for=""><strong>Valor de Auto</strong></label>
                    <input type="number" name="valor" id="valor" placeholder="Costo del Auto" required value="<%=valor%>">
                    <label for=""><strong>Porcentaje de Pago Inicial</strong></label>
                    <input type="number" name="pinicial" id="pinicial" placeholder="Porcentaje por Pago Inicial" required value="<%=pinicial%>">
                    <label for=""><strong>Plazos a meses</strong></label>
                    <select name="plazos" id="plazos" required value="<%=plazos%>">
                        <option value="12">12 Meses</option>
                        <option value="24">24 Meses</option>
                        <option value="36">36 Meses</option>
                        <option value="48">48 Meses</option>
                        <option value="60">60 Meses</option>
                    </select>
                    <button type="submit" style="background-color: #ADD8E6; color: #000000; transition: background-color 0.3s;"><strong>Calcular</strong></button>
                    <button type="button" onclick="limpiarFormulario()" style="background-color: #ADD8E6; color: #000000; transition: background-color 0.3s;"><strong>Limpiar</strong></button>
                </form>
            </div>
        </div>
        <%
            pinicial = valor * (pinicial/100);
            let totalFin = valor - pinicial;
            let pagoMensual = totalFin / plazos;     
        %>
        <div class="tablas-container">
            <div class="resumen">
                <table>
                    <tr>
                        <th>Folio</th>
                        <th>Descripción del Auto</th>
                        <th>Valor</th>
                        <th>Porcentaje de Pago Inicial</th>
                        <th>Plazos</th>
                    </tr>
                    <tr>
                        <td><%= folio %></td>
                        <td><%= desc %></td>
                        <td><%= valor %></td>
                        <td><%= pinicial %></td>
                        <td><%= plazos %></td>
                    </tr>
                </table>
            </div>
            <div class="total">
                <table>
                    <tr>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <td>Enganche</td>
                        <td><%= pinicial.toFixed(2) %></td>
                    </tr>
                    <tr>
                        <td>Total a Financiar</td>
                        <td><%= totalFin.toFixed(2) %></td>
                    </tr>
                    <tr>
                        <td>Pago mensual</td>
                        <td><%= pagoMensual.toFixed(2) %></td>
                    </tr>
                </table>
            </div>
        </div>
    </section> <br> <br> <br> <br>
    <%-include('partials/footer.ejs')%>
    <script>
        // Función para limpiar el formulario y las tablas
        function limpiarFormulario() {
            // Obtener referencia al formulario
            var formulario = document.getElementById('form-content');
    
            // Obtener referencia al select de plazos
            var plazosSelect = document.getElementById('plazos');
    
            // Establecer los valores predefinidos en el formulario
            formulario.folio.value = '';
            formulario.desc.value = '';
            formulario.valor.value = '';
            formulario.pinicial.value = '';
    
            // Restablecer el select de plazos a 12 meses
            plazosSelect.value = '12';
    
            // Limpiar contenido de las tablas
            limpiarTabla('resumen');
            limpiarTabla('total');
        }
    
        // Función para limpiar el contenido de las tablas
        function limpiarTabla(tablaId) {
            // Obtener la referencia a la tabla por su ID
            var tabla = document.querySelector('.' + tablaId + ' table');
    
            // Obtener las filas de la tabla
            var filas = tabla.querySelectorAll('tr');
    
            // Limpiar solo ciertas celdas basadas en el tipo de tabla
            filas.forEach(function(fila, index) {
                // Saltar la primera fila que contiene los encabezados
                if (index !== 0) {
                    // Obtener las celdas de la fila
                    var celdas = fila.querySelectorAll('td');
    
                    // Si es la tabla 'resumen', limpiar todas las celdas
                    if (tablaId === 'resumen') {
                        celdas.forEach(function(celda) {
                            celda.textContent = '';
                        });
                    } else if (tablaId === 'total') {
                        // Si es la tabla 'total', limpiar solo las celdas de valor (excepto la descripción)
                        for (var i = 1; i < celdas.length; i++) {
                            celdas[i].textContent = '';
                        }
                    }
                }
            });
        }
    </script>    
</body>
</html>